<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Venues</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>List of Venues</h1>
    <table border="1">
        <tr>
            <th>Venue ID</th>
            <th>Venue Name</th>
            <th>Location</th>
            <th>Capacity</th>
        </tr>
        {% for venue in venues %}
        <tr>
            <td>{{ venue.VenueID }}</td>
            <td>{{ venue.VenueName }}</td>
            <td>{{ venue.Location }}</td>
            <td>{{ venue.Capacity }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
